@-webkit-keyframes fade-in{
  from{
    opacity:1;
    top:0px;
  }
  to{
    opacity:0;
    top:0px;
  }
}

.text-animated-one{
  display:inline-block;
  position:absolute;
  left: 0;
  -webkit-animation: fade-in 3s infinite;
}

.text-animated-two{
  opacity:0;
  display:inline-block;
  position:absolute;
  left: 0;
  -webkit-animation: fade-in 3s infinite;
  -webkit-animation-delay: 4s;
}


.text-animated-three{
  opacity:0;
  display:inline-block;
  position:absolute;
  left: 0;
  -webkit-animation: fade-in 3s infinite;
  -webkit-animation-delay: 8s;
}

.text-animated-four{
  opacity:0;
  display:inline-block;
  position:absolute;
  left: 0;
  -webkit-animation: fade-in 10s infinite;
  -webkit-animation-delay: 6s;
}

.text-animated-five{
  opacity:0;
  display:inline-block;
  position:absolute;
  left: 0;
  -webkit-animation: fade-in 10s infinite;
  -webkit-animation-delay: 8s;
}

.aggettivi{
  border: 1px solid black;
  display: inline-block;
  width: 200px;
  height: 20px;
  position: absolute;
}