<article rel="contact" class="contact">
    <section class="big-col-2 sub-content">
        <a name="linkToContact"><h2>CONTACT INFORMATION</h2></a>
        <p>
            It's always great to make new connections in the tech world, so feel free to add/follow me on social media!
        </p>
        <p>
            If you have any questions about my work experience or if you just want to connect, check out the following contact details. The best way to contact me is via email, but I check my other social media accounts on a regular basis as well.
        </p>
    </section>

    <aside class="contactAside sub-content">
        <ul class="contact-info">
            <li class="phone"><a href="tel:508-523-1176">508-523-1176</a></li>
            <li class="mail"><a href="mailto:allieJarsenault@gmail.com">allieJarsenault@gmail.com</a></li>
            <li class="github"><a href="https://github.com/alliejay" target="_blank">alliejay</a></li>
            <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=allieJarsenault">@allieJarsenault</a></li>
            <li class="linkedIn"><a href="http://www.linkedin.com/in/allieJarsenault" target="_blank">Find me on LinkedIn</a></li>
        </ul>
    </aside>

</article>