<div class="about">

<blockquote>"Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful."</blockquote>
<h4>-- Albert Schweitzer</h4>

    <!--<img src="img/pfpic.png" alt="" />-->
    <section class="sub-content">
        <h3>ABOUT ALLIE</h3>
        <p>
            Albert Schweitzer's quote regarding success and happiness embodies the ideals which I believe whole-heartedly, and which have changed my life for the better in this past year.
        </p>
        <p>
            I graduated from the University of Massachusetts, Amherst in 2012 and shortly thereafter started a career in the Cell Tower Industry. While I enjoyed my role as a Lease Analyst, and I had the utmost respect for my managers & co-workers, I (like most) am not overwhelmingly interested in steel structures. I found myself envying those who went to work every day truly loving what they did.
        </p>
        <p>
            I moved from Boston, MA (where I had lived my entire life) to Charleston, SC in March of 2015 and shortly after stopped working at the cell tower company.  It was the perfect time to change career paths and choose a field that I have an organic interest in.  I was enrolled at <a href="http://www.theironyard.com" target="_blank">The Iron Yard</a> for their Fall 2015 Cohort in Front End Development, and graduated on January 8, 2016.
        </p>
        <p>
            It quickly became apparent that web development & design brings out a side of me I hadn't seen in years. I got excited to go to school every day and learn more about the amazing things I would become capable of as a front end engineer.  I was offered a job immediately following Graduation/Demo Day as a Front End Engineer beginning in February 2016.  If you would like to contact me for any reason, please check out the <a routerLink="/contact" routerLinkActive="active">contact</a> page.
        </p>
    </section>

</div>