@import "../../css/_variables";

.about {
  //width: 80%;
  // height: 600px;
  margin: 3% auto;
  transition: all 1s ease-in-out;
  line-height: 1.65em;
  blockquote {
    border-left: none;
    color: #4E8293;
    font-size: 2em;
    font-family: $textFont;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 15px;
    text-align: left;
  }
  h4 {
    margin: 10px 100px 30px 0px;
    padding: 0;
    font-size: 1em;
    opacity: .5;
    font-family: $textFont;
    font-weight: normal;
    text-align: right;
  }
  img {
    width: 20%;
    margin: 30px;
    border-radius: 100%;
    float: left;
    display: inline-block;
    opacity: .65;
  }
}

.sub-content {
  font-family: $textFont;
  text-align: left;
  h2 {
    color: #4E8293;
    font-weight: bold;
    opacity: .5;
  }
}