<div>
    <section class="header">
        <div class="container" id="title">
            <img class="main-pic" src="app/img/cartoon-dev-allie.png" alt="">
            <h1>Allie J Arsenault</h1>
            <h2>Web Development & Design</h2>
        </div>

        <ul>
            <a routerLink="/about" routerLinkActive="active"><li>about</li></a>
            <a routerLink="/resume" routerLinkActive="active"><li>resume</li></a>
            <a routerLink="/portfolio" routerLinkActive="active"><li>portfolio</li></a>
            <a routerLink="/contact" routerLinkActive="active"><li>contact</li></a>
        </ul>
    </section>
</div>

<main role="main" class="main-container">
    <router-outlet></router-outlet>
</main>
