<div>
    <section class="header">
        <div class="container" id="title">
            <img class="main-pic" src="app/img/cartoon-dev-allie.png" alt="">
            <h1>Allie J Arsenault</h1>
            <h2>Web Development & Design</h2>
        </div>

        <ul>
            <a routerLink="/about" routerLinkActive="active"><li>about</li></a>
            <a routerLink="/resume" routerLinkActive="active"><li>resume</li></a>
            <a routerLink="/portfolio" routerLinkActive="active"><li>portfolio</li></a>
            <a routerLink="/contact" routerLinkActive="active"><li>contact</li></a>
        </ul>
    </section>
</div>

<main role="main" class="main-container">
    <router-outlet></router-outlet>
</main>

<footer>
    <a href="https://github.com/alliejay" target="_blank"><img src="app/icons/github-with-circle.svg" alt="Github"></a>
    <a href="https://www.linkedin.com/in/alliejarsenault" target="_blank"><img src="app/icons/linkedin-with-circle.svg" alt="Github"></a>
    <a href="https://twitter.com/allieJarsenault" target="_blank"><img src="app/icons/twitter-with-circle.svg" alt="Twitter"></a>
    <br><br>
    <p>&copy; Allie J. Arsenault 2016</p>
    <p><a href="http://www.entypo.com/" target="_blank">Entypo+</a> pictograms by Daniel Bruce.</p>
</footer>
