<div class="portfolio">
    <div class="iron-yard" id="current">
        <img src="app/icons/keyboard.svg" alt="keyboard">
        <h4>CURRENT WORK & SIDE PROJECTS</h4>
        <p>I currently work as a contractor for the Department of Defense, designing and developing new user interfaces for an existing application. Because of the nature of this work, I unfortunately cannot display any examples of it here.</p>
    </div>

    <div class="iron-yard" id="assignments">
        <img src="app/icons/keyboard.svg" alt="keyboard">
        <h4>IRON YARD ASSIGNMENTS</h4>
        <p>The following projects were assignments I worked on while studying at <a href="https://www.theironyard.com/charleston" target="_blank">The Iron Yard</a>. Click on any project to learn more about the technology used, the goals & challenges of the assignment, along with my own personal experience while developing it.</p>
    </div>

    <div *ngFor="let item of portfolioItems" class="item-card">
        <section class="inner-section">
            <h4 class="title">{{item.title}}</h4>
            <a href="/">
                <img src="{{item.mainImg}}" alt="">
            </a>
        </section>
    </div>
</div>