<div class="portfolio">
    <div class="iron-yard">
        <img src="app/icons/keyboard.svg" alt="keyboard">
        <h4>CURRENT WORK & SIDE PROJECTS</h4>
        <p>I currently work as a DOD contractor designing user interfaces along with developing them.  My company prefers that I use Balsamiq for the wireframing process, however, I have found Sketch to be a great wireframing/prototyping tool as well.  We strive to use the most up to date technology (ReactJS/Redux/TypeScript) during the development process. Because this is DOD work, I unfortunately cannot display any examples of it here.  I </p>
    </div>

    <div class="iron-yard">
        <img src="app/icons/keyboard.svg" alt="keyboard">
        <h4>IRON YARD ASSIGNMENTS</h4>
        <p>The following projects were assignments I worked on while studying at <a href="https://www.theironyard.com/charleston" target="_blank">The Iron Yard</a>.<br> Click on any project to learn more about the technology used, the goals & challenges of the assignment, along with my own personal experience while developing it.</p>
    </div>

    <div *ngFor="let item of portfolioItems" class="item-card">
        <section class="inner-section">
            <h4 class="title">{{item.title}}</h4>
            <a href="/">
                <img src="{{item.mainImg}}" alt="">
            </a>
        </section>
    </div>
</div>