<div class="portfolio">
    <div class="iron-yard" id="current">
        <img src="app/icons/keyboard.svg" alt="keyboard">
        <h4>CURRENT WORK & SIDE PROJECTS</h4>
        <p>Due to the nature of my current work, I unfortunately cannot display any examples of it here. I am also working on a mobile application with my fellow co-workers using Ionic Framework, and I cannot display examples of it here as we are keeping it under wraps until further notice.</p>
    </div>

    <div class="iron-yard" id="assignments">
        <img src="app/icons/keyboard.svg" alt="keyboard">
        <h4>IRON YARD ASSIGNMENTS</h4>
        <p>The following projects were assignments I worked on while studying at <a href="https://www.theironyard.com/charleston" target="_blank">The Iron Yard</a>. Click on any project to learn more about the technology used, the goals & challenges of the assignment, along with my own personal experience while developing it.</p>
    </div>

    <div *ngFor="let item of portfolioItems" class="item-card">
        <section class="inner-section">
            <a href="/">
                <img src="{{item.mainImg}}" alt="">
            </a>
            <h4 class="title">{{item.title}}</h4>
        </section>
    </div>
</div>