<div class="row">

    <div class="col-md-8">
        <div class="first-column">
            <img class="icon" src="app/icons/briefcase.svg" alt="">
            <span class="resume-title">WORK HISTORY</span>
        </div>

        <div class="row" id="techsoft">
            <section class="col-md-4 resume-year">
                2016
            </section>

            <section class="col-md-8 resume-item">
                <span class="work-title">Front End Developer</span>
                <p class="company">Technical Software Services, Inc.</p>

                <p>I currently work for "TechSoft," a Department of Defense contractor located in North Charleston, SC.  I support my team as both the UI/UX Designer & a Front End Developer.</p>
              </section>
        </div>


        <div class="row" id="cti">
            <section class="col-md-4 resume-year">
                2012
            </section>

            <section class="col-md-8 resume-item">
                <span class="work-title">Lease Analyst</span>
                <p class="company">CTI Towers, Inc.</p>

                <p>From 2012 through 2015, I worked as a Lease Analyst at CTI Towers, a cell phone tower company.  I gained crucial analytical and critical thinking skills during my time with CTI.</p>
            </section>
        </div>

    </div>



    <div class="col-md-4">
        <div class="second-column">
            <img class="icon" src="app/icons/code.svg" alt="">
            <span class="resume-title">DEVELOPMENT SKILLS</span>
        </div>

        <section class="skills">
            <p>HTML5</p>
            <p>CSS3</p>
            <p>JAVASCRIPT</p>
            <p>ANGULAR 1 & 2</p>
            <p>IONIC FRAMEWORK</p>
            <p>REACT JS</p>
            <p>API INTEGRATION</p>
            <p>JQUERY, UNDERSCORE, MOMENT JS, etc.</p>
        </section>

    </div>

</div>