<div class="row">

    <div class="col-md-8">
        <!--WORK HISTORY-->
        <div class="first-column">
            <img class="icon" src="app/icons/briefcase.svg" alt="">
            <span class="resume-title">WORK HISTORY</span>
        </div>

        <!--TECHSOFT-->
        <div class="row" id="techsoft">
            <section class="col-md-4 resume-year">
                2016
            </section>

            <section class="col-md-8 resume-item">
                <span class="work-title">Front End Developer</span>
                <p class="company">Technical Software Services, Inc.</p>

                <p>I currently work for "TechSoft," a Department of Defense contractor located in North Charleston, SC.  I support my team as both the UI/UX Designer & a Front End Developer.</p>
              </section>
        </div>

        <!--CTI TOWERS-->
        <div class="row" id="cti">
            <section class="col-md-4 resume-year">
                2012
            </section>

            <section class="col-md-8 resume-item">
                <span class="work-title">Lease Analyst</span>
                <p class="company">CTI Towers, Inc.</p>

                <p>From 2012 through 2015, I worked as a Lease Analyst at CTI Towers, a cell phone tower company.  I gained crucial analytical and critical thinking skills during my time with CTI.</p>
            </section>
        </div>

        <!--SCHOOLING-->
        <div class="first-column school">
                <img class="icon" src="app/icons/graduation-cap.svg" alt="">
                <span class="resume-title">EDUCATION</span>
        </div>

        <!--IRON YARD-->
        <div class="row" id="iron-yard">
            <section class="col-md-4 resume-year">
                2015
            </section>

            <section class="col-md-8 resume-item">
                <span class="work-title">Front End Engineering Course</span>
                <p class="company">The Iron Yard</p>

                <p>I attended the Iron Yard's Fall of 2015 cohort. This course is a 50+ hour a week commitment which most importantly taught me <i>how</i> to learn.  I began working at TechSoft immediately following my graduation from TIY.</p>
            </section>
        </div>

        <!--UMASS AMHERST-->
        <div class="row" id="umass">
            <section class="col-md-4 resume-year">
                2009
            </section>

            <section class="col-md-8 resume-item">
                <span class="work-title">B.A. in Journalism</span>
                <p class="company">University of Massachusetts, Amherst</p>

                <p>I attended UMASS Amherst from 2009 - 2012 and earned a B.A. in Journalism.  While I no longer want to pursue Journalism, my major taught me valuable communication skills and instilled in me a passion for reading & keeping up with current events.</p>
            </section>
        </div>

    </div>


    <div class="col-md-4">
        <!--DEV SKILLS-->
        <div class="second-column">
            <img class="icon" src="app/icons/code.svg" alt="">
            <span class="resume-title">DEVELOPMENT SKILLS</span>
        </div>

        <section class="skills">
            <p>HTML5</p>
            <p>CSS3</p>
            <p>SASS / SCSS</p>
            <p>JAVASCRIPT (ES2015 & earlier)</p>
            <p>TYPESCRIPT</p>
            <p>ANGULAR 1 & 2</p>
            <p>IONIC FRAMEWORK</p>
            <p>REACT JS</p>
            <p>API INTEGRATION</p>
            <p>JQUERY, UNDERSCORE, MOMENT JS, etc.</p>
        </section>

        <!--DESIGN SKILLS-->
        <div class="second-column design">
            <img class="icon" src="app/icons/palette.svg" alt="">
            <span class="resume-title">DESIGN SKILLS</span>
        </div>

        <section class="skills">
            <p>WIREFRAMING</p>
            <p>BALSAMIQ, SKETCH, GIMP</p>
            <p>RESPONSIVE WEB DESIGN</p>
            <p>UI/UX DESIGN</p>
        </section>

        <!--DESIGN SKILLS-->
        <div class="second-column resume">
            <img class="icon" src="app/icons/download.svg" alt="">
            <span class="resume-title">
                <a href="app/resume/resume.pdf" download="resume.pdf">DOWNLOAD RESUME</a>
            </span>

        </div>


    </div>

</div>